@import "header.css";
@import "footer.css";
@import "top-section.css";
@import "cards.css";

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em 23em 30em 4em;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "top top top top top top top top top top top top"
    "cards-container cards-container cards-container cards-container cards-container cards-container cards-container cards-container cards-container cards-container cards-container cards-container"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body::-webkit-scrollbar-thumb{
    background-color: #191A46;
border-radius: 10px;
}
body::-webkit-scrollbar{
    height: 5px;
}
@media screen and (max-width: 640px) {
    body{
        grid-template-rows: 20em 25em 25em 4em;
        row-gap: 1em;
    }
}